@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: $backgroundColor;
  font-family: 'Nunito', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

p,
label,
input {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

img {
  object-fit: cover;
  align-self: center;
  width: 100%;
  height: 100%;
}




@include for-small-phones-only {}

@include for-tablet-potrait-up {
  h1 {
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
  }
}

@include for-tablet-landscape-up {}

@include for-desktop-up {}

@include for-big-desktop-up {}