.header {
    height: 500px;
    background-image: url(../Assets/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    @include flexCC(column);
    color: $white;

    &-text {
        width: 100%;
        text-align: center;
        padding: 0 16px;

        h1 {
            margin-bottom: 20px;
        }

        p {
            margin-bottom: 32px;
        }

    }

}


@include for-small-phones-only {}

@include for-tablet-potrait-up {
    .header {
        &-text {
            width: 480px;
            padding: 0;

            p {
                margin-bottom: 36px;
            }
        }
    }
}

@include for-tablet-landscape-up {}

@include for-desktop-up {
    .header {
        background-position: center;

        &-text {
            width: 600px;
        }
    }
}

@include for-big-desktop-up {}